<div class="page-wrapper">
  <div class="content">
    <ul id="conversations-list">
      <% unless @conversations.nil? %>
        <%# @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: @conversations, user: current_user %>
      <% end %>
      <%# end %>
    </ul>
    <div class="card-box profile-header">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-view">
            <div class="profile-img-wrap">
              <div class="profile-img">
                <a href="#"><%= image_tag @user.gravatar_url, class: "avatar" %></a>
              </div>
            </div>
            <div class="profile-basic">
              <div class="row">
                <div class="col-md-5">
                  <div class="profile-info-left">
                    <h3 class="user-name m-t-0 m-b-0"><%= @user.name %></h3>
                    <br>
                    <div class="container">
                      <div class="row">
                        <div class="col-sm">
                          <h2>
                            <center><%= @user.blogs.count %></center>
                          </h2>
                        </div>
                        <div class="col-sm">
                          <h2>
                            <center>10</center>
                          </h2>
                        </div>
                        <div class="col-sm">
                          <h2>
                            <center>10</center>
                          </h2>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm">
                          <center><a href="#" class="badge badge-primary">Bài viết</a></center>
                        </div>
                        <div class="col-sm">
                          <center><a href="#" class="badge badge-primary">Đang theo dõi</a></center>
                        </div>
                        <div class="col-sm">
                          <center><a href="#" class="badge badge-primary">Người theo dõi</a></center>
                        </div>
                      </div>
                      <br>
                      <% if @user == current_user %>
                        <div class="row">
                          <div class="col-sm">
                            <h2>
                              <a href="<%= edit_nurse_user_path(current_user) %>" class="btn btn-danger">Chỉnh sửa thông
                                tin <span class="fa fa-edit"></span></a></h2>
                          </div>
                          <div class="col-sm">
                            <h2>
                              <%= link_to conversations_path(user_id: @user), remote: true, method: :post, class: "btn btn-danger" do %>
                                Tin nhắn <span class="fa fa-envelope"></span>
                              <% end %>
                            </h2>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <div>

                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <ul class="personal-info">
                    <li>
                      <span class="title">Họ và tên:</span>
                      <span class="text"><%= @user.name %></span>
                    </li>
                    <li>
                      <span class="title">Phone:</span>
                      <span class="text"><%= @user.phone %></span>
                    </li>
                    <li>
                      <span class="title">Sinh nhật:</span>
                      <span class="text"><%= @user.dob %></span>
                    </li>
                    <li>
                      <span class="title">Email:</span>
                      <span class="text"><%= @user.email %></span>
                    </li>
                    <li>
                      <span class="title">Địa chỉ:</span>
                      <span class="text"><%= @user.address %></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-tabs">
      <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#pet-tab" data-toggle="tab">Thú Cưng</a></li>
        <li class="nav-item"><a class="nav-link" href="#post-tab" data-toggle="tab">Bài Viết</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane show active" id="pet-tab">
          <div class="row">
            <div class="col-md-12">
              <div class="card-box">
                <h3 class="card-title">Danh Sách Thú Cưng</h3>
                <div class="container">
                  <div class="row">
                    <% @user.pets.each do |pet| %>
                      <div class="col-sm">
                        <div class="profile-img">
                          <a href="<%= nurse_user_pet_path(@user, pet) %>">
                            <%= image_tag pet.image_url, class: "avatar" %>
                          </a>
                        </div>
                        <div class="col-sm">
                          <h5>
                            <center><%= pet.name %></center>
                          </h5>
                        </div>
                      </div>
                    <% end %>
                    <div class="col-sm">
                      <div class="profile-img">
                        <a href="#"><span class="avatar fa fa-plus" alt=""></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="post-tab">
          <textarea class="form-control" rows="5" id="comment" placeholder="Bạn có vấn đề gì ?"></textarea>
          <br>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="validatedCustomFile">
            <label class="custom-file-label" for="validatedCustomFile">Chọn file</label>
          </div>
          <br><br>
          <button type="button" class="btn btn-success btn-block">Gửi</button>
        </div>
      </div>
    </div>
  </div>

</div>
