<% @conversations = Conversation.newest_messege current_user.id %>
<div class="page-wrapper">
<div class="profile-tabs">

					<div class="tab-content">
						<div class="tab-pane show active" id="pet-tab">
							<div class="row">
								<div class="col-md-12">
									<div class="card-box">
										<h3 class="card-title">Danh Sách Bệnh Án</h3>

										<table class="table">
										  <thead style="background-color: #66a3ff">
											<tr style="color: white">
											  <th scope="col">STT</th>
											  <th scope="col">Chủ Pet</th>
											  <th scope="col">Thú cưng</th>
											  <th scope="col">Ngày khám</th>
											  <th scope="col">Bác sĩ</th>
											  <th scope="col">Chẩn đoán</th>
											  <th scope="col"></th>
											</tr>
										  </thead>
										  <tbody>
                      <% @medical_records = MedicalRecord.where(status: 1).order(:created_at) %>
                                          <% @medical_records.each_with_index do |mr, i| %>
											<tr>
											  <th scope="row"><%= i + 1 %></th>
											  <td><%= link_to mr.pet.user.name, secretary_user_path(mr.pet.user.id) %></td>
											  <td><%= link_to mr.pet.name, secretary_user_pet_path(mr.pet.user.id, mr.pet_id) %></td>
											  <td><%= mr.created_at.strftime("%d/%m/%Y %H:%M") %></td>
											  <td><%= User.find_by_id(mr.doctor_id).name %></td>
											  <td><%= mr.description %></td>
											  <td><%= link_to "Chi tiết", secretary_user_pet_medical_record_path(mr.pet.user, mr.pet, mr) %></td>
											</tr>
                    <% end %>
										  </tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
</div>
