<article class="blog">

							<h3 class="blog-title"><a href="<%= blog_path(blog) %>"><%= blog.title %></a></h3>
							<div class="blog-info clearfix">
								<div class="post-left">
									<ul>
                                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>
                                          <span><%= blog.created_at.strftime("%d/%m/%Y") %></span></a></li>
                                        <li><a href="<%= user_path(blog.user)%>"><i class="fa fa-user" aria-hidden="true"></i>
                                          <span>
                                          <% if blog.user.secretary? %>
                                          Pet Care
                                          <% else %>
                                          <%= blog.user.name %>
                                          <% end %>
                                          </span></a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>
                                                <span><%= blog.comments.count %></span></a></li>
                                    </ul>
								</div>
                                <% if blog.user == current_user %>

                                <div class="dropdown dropdown-action pull-right" style="margin-right: 45px;">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_patient"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                                <% end %>
							</div>
                            <div class="blog-image">
                                <%= image_tag blog.image_url, size: 700, class: "img-responsive" %>

                            </div>
                            <div class="blog-content">
                                <p><%= blog.content %>.</p>
                                <%= render "blogs/vote_form", blog: blog %>
                                <a href="<%= blog_path(blog) %>" class="btn btn-primary read-more">Chi tiết</a>
                            </div>
                        </article>


<div id="delete_patient" class="modal fade delete-modal" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<h3>Bạn có muốn xóa bài viết này?</h3>
						<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Đóng</a>
							<%= link_to "Xóa", blog_path(blog),method: :delete, class: "btn btn-danger" %>
						</div>
					</div>
				</div>
			</div>

		</div>
<div id="edit_patient" class="modal fade delete-modal" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content" style="height: 300px">
					<div class="modal-body text-center">
						<h3>Edit Post</h3>
                        <%= form_for blog do |f| %>
                                <div class="col-sm-12">
                                <%= f.text_field :title, placeholder: "Title", class: "col-sm-12" %>
                                <%= f.text_area :content, placeholder: "Compose new blog...", class: "col-sm-12" %>
                                <img id='img-upload'/>
                                <div class="input-group col-sm-10 pull-left">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file pull-left">
                                            Browse… <%= f.file_field :image, id: "imgInp" %>
                                        </span>
                                    <input type="text" class="form-control" readonly>
                                    </span>
						<div class="m-t-20" style="margin-top: 20px">
							<%= f.submit "Chỉnh sửa", class: "btn btn-primary" %>
						</div>
					</div>
				</div>
                            <% end %>
						<div class="m-t-20 pull-right"> <a href="#" class="btn btn-white" style="border:solid 1px #333 " data-dismiss="modal">Close</a>
</div>
			</div>

		</div>
			</div>

		</div>
