<article class="blog">
                            <h3 class="blog-title"><a href="<%= blog_path(blog) %>"><%= blog.title %></a>
                            </h3>
                            <div class="blog-info clearfix">
                                <div class="post-left">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>
                                          <span><%= blog.created_at.strftime("%d/%m/%Y") %></span></a></li>
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>
                                          <span><%= blog.user.name %></span></a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>
                                                <span><%= blog.comments.count %></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog-image">
                                <div class="image">
                                    <%= image_tag blog.image_url, size: 700 %>
                                </div>
                            </div>
                            <div class="blog-content">
                                <p><%= blog.content %></p>
                                <%= render "blogs/vote_form", blog: blog %>
                            </div>
                            <a href="blog-details.html" class="btn btn-primary read-more">Read More</a>
                        </article>

