<div class="main-content">
      <% if user_signed_in? %>
        <!-- Page Header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="page-title">
                              <%= render "shared/blog_form" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <ul id="conversations-list" class="panel-default">
            <% if @conversations.present? %>
            <%# @conversations.each do |conversation| %>
              <%= render 'conversations/conversation', conversation: @conversations, user: current_user %>
            <%# end %>
            <% end %>
            <%#= render @conversations, user: current_user %>
          </ul>
        <div class="content" style="background: #f6f6f6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <!-- Blog Post -->
                          <%= render "shared/feed" %>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary list-user">
              <div class="panel-heading">
                <h3 class="panel-title">User list</h3>
              </div>
              <div class="panel-body">
                <ul class="overflow">
                  <% @users.each do |user| %>
                    <% if user.online? %>

                    <li style="color: green"><%= link_to user.name, conversations_path(user_id: user), remote: true, method: :post %></li>
                    <% else %>
                    <li style="list-style-type:none"><%= link_to user.name, conversations_path(user_id: user), remote: true, method: :post %></li>

                  <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
        </div>
