<div class="main-content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title">
                            <span>Bài viết</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul id="conversations-list" class="panel-default">
            <% if @conversations.present? %>
              <%= render 'conversations/conversation', conversation: @conversations, user: current_user %>
            <% end %>
          </ul>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <!-- Blog Post -->
                        <% if user_signed_in? %>
                        <%= render "shared/blog_form" %>
                        <% end %>
                        <%= render "shared/feed" %>
                    </div>
                    <% if user_signed_in? %>
					<div class="col-sm-4" style="margin-top: 500px;">
						<div class="list-group" style="position:fixed; width: 300px; overflow: auto;; bottom: 0; right: 20px">
						  <button type="button" class="list-group-item list-group-item-action active">
							Danh bạ
						  </button>
						  <ul class="list-group" style="overflow-y: scroll; height: 400px">

                            <% @users.each do |user| %>
                    <% if user.online? %>


                    <li style="color: green; margin-left: 20px"><%= link_to user.name, conversations_path(user_id: user), remote: true, method: :post %></li>
                    <% else %>
                    <li style="list-style-type:none; margin-left: 20px"><%= link_to user.name, conversations_path(user_id: user), remote: true, method: :post %></li>
                    <% end %>
                  <% end %>
						  </ul>
						  <input class="form-control" type="text" placeholder="Search" aria-label="Search">
						</div>
					</div>
                    <% else %>
                    <aside class="col-sm-3 sidebar-right" style="margin-left: 55px;">

                        <!-- Search-->


                        <!-- Latest Posts -->
                        <div class="widget post-widget">
                            <h5>Bài viết mới nhất</h5>
                            <ul class="latest-posts">
                                <% @blogs = Blog.order(created_at: :desc) %>
                                <% @blogs.each_with_index do |blog, index| %>
                                <% if index <= 6 %>
                                  <li>
                                    <div class="post-thumb">
                                        <a href="<%= blog_path(blog)%>">
                                            <%= image_tag blog.image_url, width: 80, height: 65, class: "img-responsive" %>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <h4>
											<a href="<%= blog_path(blog)%>"><%= blog.title %></a>
										</h4>
                                        <p><i aria-hidden="true" class="fa fa-calendar"></i> <%= blog.created_at.strftime("%d/%m/%Y") %></p>
                                    </div>
                                </li>
                                <% end %>

                                <% end %>
                            </ul>
                        </div>
                    </aside>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
