<div class="main-content">

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="blog-view">
                            <article class="blog blog-single-post">
                                <div class="blog-image">
                                    <%= image_tag @blog.image_url, width: 1200, height: 800, class: "img-responsive" %>
                                </div>
                                <h3 class="blog-title"><%= @blog.title %></h3>
                                <div class="blog-info clearfix">
                                    <div class="post-left">
                                        <ul>
                                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>
                                          <span><%= @blog.created_at.strftime("%d/%m/%Y") %></span></a></li>
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>
                                          <span><%= @blog.user.name %></span></a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>
                                                <span><%= @blog.comments.count %></span></a></li>
                                    </ul>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <%= @blog.content %>
                                </div>
                            </article>

                            <div class="widget blog-comments clearfix">
                                <h3>Bình luận (<%= @blog.comments.count %>)</h3>
                                  <div id="load_comment-<%= @blog.id %>">
                                    <%= render "comments/comment", blog: @blog %>
                                  </div>

                            </div>
                            <!-- NEW COMMENT -->
                            <div class="widget new-comment clearfix">
                                <h3>Leave Comment</h3>
                                <% if user_signed_in? %>
                                <div id="comment_form">
                                    <%= render "comments/form", blog: @blog, user: @blog.user %>
                                  </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <aside class="col-sm-4 sidebar-right">

                        <!-- Search-->


                        <!-- Latest Posts -->
                        <div class="widget post-widget">
                            <h5>Bài viết mới nhất</h5>
                            <ul class="latest-posts">
                                <% @blogs = Blog.order(created_at: :desc) %>
                                <% @blogs.each_with_index do |blog, index| %>
                                <% if index <= 6 %>
                                  <li>
                                    <div class="post-thumb">
                                        <a href="<%= blog_path(blog)%>">
                                            <%= image_tag blog.image_url, width: 80, height: 65, class: "img-responsive" %>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <h4>
											<a href="<%= blog_path(blog)%>"><%= blog.title %></a>
										</h4>
                                        <p><i aria-hidden="true" class="fa fa-calendar"></i> <%= blog.created_at.strftime("%d/%m/%Y") %></p>
                                    </div>
                                </li>
                                <% end %>

                                <% end %>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
