<div class="main-content account-content">
        <div class="content">
            <div class="container">
                <div class="account-box">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="account-title">
              <h3>Cập nhật thông tin</h3>
            </div>
            <%= devise_error_messages! %>
              <div class="form-group" style="margin-bottom: 10px">
                <%= f.label :avatar, "Ảnh đại diện" %><span class="required">*</span>
                <img id='img-upload'/>
                <div class="input-group col-sm-10 pull-left" style="float: none !important;">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Browse… <%= f.file_field :avatar, id: "imgInp" %>
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
              </div>

              <div class="form-group" style="margin-bottom: 10px">
                <%= f.label :full_name, "Họ và tên" %><span class="required">*</span>
                <%= f.text_field :name, class: "form-control", placeholder: "Họ và tên", required: true %>
              </div>

              <div class="form-group" style="margin-bottom: 10px">
                <%= f.label :username, "Tên đăng nhập" %><span class="required">*</span>
                <%= f.text_field :username, class: "form-control", placeholder: "Tên đăng nhập", required: true %>
              </div>

              <div class="form-group" style="margin-bottom: 10px">
                <%= f.label :email, t("sessions.new.email") %><span class="required">*</span>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",
                  placeholder: "Email", required: true %>
              </div>

              <div class="form-group" style="margin-bottom: 10px">
                <%= f.label :address, "Địa chỉ" %><span class="required">*</span>
                <%= f.text_field :address, class: "form-control", placeholder: "Địa chỉ", required: true %>
              </div>

              <div class="form-group" style="margin-bottom: 10px">
                <%= f.label :phone, "Số điện thoại" %><span class="required">*</span>
                <%= f.number_field :phone, class: "form-control", placeholder: "Số điện thoại", required: true %>
              </div>

              <div class="form-group" style="margin-bottom: 10px; position: relative">
                <%= f.label :dob, "Ngày sinh" %><span class="required">*</span>
                <%= f.text_field :dob, class: "form-control datetimepicker25", placeholder: "Ngày sinh", required: true %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group" style="margin-bottom: 10px">
                <%= f.label :password, "Mật khẩu mới" %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control",
                  placeholder: "Để trống nếu bạn không muốn thay đổi" %>
              </div>

              <div class="form-group" style="margin-bottom: 10px">
                <%= f.label :password_confirmation, "Nhập lại mật khẩu" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control",
                  placeholder: "Nhập lại mật khẩu" %>
              </div>

              <div class="form-group" style="margin-bottom: 10px">
                <%= f.label :current_password, "Mật khẩu hiện tại" %><span class="required">*</span>
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control",
                  placeholder: "123456 là mật khẩu mặc định khi bạn login bằng Google", required: true %>
              </div>

              <div class="actions" style="text-align:center">
                <%= f.submit "Cập nhật", class: "btn btn-success" %>
              </div>
          <% end %>
                </div>
            </div>
        </div>
    </div>
<script>
  $('.datetimepicker25').datetimepicker({
    format: "DD/MM/YYYY"
  });
</script>
