<div class="main-content account-content">
        <div class="content">
            <div class="container">
                <div class="account-box">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <div class="account-title">
                            <h3>Đăng ký</h3>
                        </div>
                        <%= devise_error_messages! %>
                        <div class="form-group">
                            <%= f.label :full_name, "Họ và tên" %>
                            <%= f.text_field :name, class: "form-control", placeholder: "Họ và tên" %>
                        </div>
                        <div class="form-group">
                            <%= f.label :username, "Tên đăng nhập" %><span class="required">*</span>
                            <%= f.text_field :username, class: "form-control", placeholder: "Tên đăng nhập", required: true %>
                        </div>
                        <div class="form-group">
                            <%= f.label :email, "Email" %><span class="required">*</span>
                            <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
                        </div>
                        <div class="form-group">
                            <%= f.label :password, "Mật khẩu" %><span class="required">*</span>
                            <%= f.password_field :password, class: "form-control", placeholder: "Mật khẩu", required: true %>
                        </div>
                        <div class="form-group">
                            <%= f.label :password_confirmation, "Nhập lại mật khẩu" %><span class="required">*</span>
                            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Nhập lại mật khẩu", required: true %>
                        </div>
                        <div class="form-group text-center">
                            <%= f.submit "Đăng ký", class: "btn btn-primary account-btn" %>
                        </div>
                        <div class="text-center login-link">
                            <%= render "devise/shared/links" %>
                        </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
