<div class="row">
    <div class="col-md-8 offset-md-2">
        <%= form_for [:doctor, desease], class: "form" do |f| %>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Tên <span class="text-danger">*</span></label>
                        <%= f.text_field :name, class: "form-control" %>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Loại thú cưng</label>
                        <%= f.select :pet_type, type_choice, {selected: desease.pet_type}, class: "select" %>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Triệu chứng <span class="text-danger">*</span></label>
                        <%= f.text_area :symptom, class: "form-control" %>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Nguyên nhân <span class="text-danger">*</span></label>
                        <%= f.text_area :reason, class: "form-control" %>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Cách chữa trị</label>
                        <%= f.text_area :treatment, class: "form-control" %>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Mô tả</label>
                        <%= f.text_area :description, class: "form-control" %>
                    </div>
                </div>
                <!--
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Role</label>
                        <select class="select">
                            <option>Admin</option>
                            <option>Doctor</option>
                            <option>Nurse</option>
                            <option>Laboratorist</option>
                            <option>Pharmacist</option>
                            <option>Accountant</option>
                            <option>Receptionist</option>
                        </select>
                    </div>
                </div>
                -->
            </div>
            <div class="m-t-20 text-center">
                <%= f.submit "Lưu", class: "btn btn-primary submit-btn" %>
            </div>
        <% end %>
    </div>
</div>
