<%= form_for @comment, html: {id: "new_message"}, remote: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :blog_id, value: blog.id %>
  <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                            <%= f.text_field :content, class: "form-control message_content", row: 4 %>
                                            </div>
                                            <div class="comment-submit">
                                            <%= f.submit "Bình luận", class: "btn btn-primary", style: "float: right;" %>
                                            </div>
                                        </div>
                                    </div>
<% end %>
<script>
  $("#new_message").bind("ajax:complete", function (event, xhr, status) {
    $('.message_content').val('');
  });
</script>
