<%= form_for @comment, html: {id: "new_message"}, remote: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field col-sm-10">
    <%= f.text_field :content, class: "field-search message_content" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :blog_id, value: blog.id %>
  </div>
  <div class="field col-sm-2">
    <%= f.submit t("comments.comment"), class: "btn btn-primary" %>
  </div>
  </br>
<% end %>
<script>
  $("#new_message").bind("ajax:complete", function (event, xhr, status) {
    $('.message_content').val('');
  });
</script>
