<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:page_title) %></title>
    <%= render "layouts/director/default" %>
    <%= favicon_link_tag asset_path('logo.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>
  <body>
    <div class="main-wrapper">
        <%= render "layouts/director/header" %>
        <%= render "layouts/director/menu" %>
        <%= yield %>
    </div>
    <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
      </script>
    <% end %>
  </body>
</html>
