<%= form_for [user, pet], class: "form" do |f| %>
  <div class="input-group">
    <img id='img-upload'/>
    <div class="input-group col-sm-10 pull-left">
        <span class="input-group-btn">
            <span class="btn btn-default btn-file">
                Browse… <%= f.file_field :image, id: "imgInp" %>
            </span>
        </span>
        <input type="text" class="form-control" readonly>
    </div>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="material-icons"><%= t "Tên" %></i>
      </span>
    </div>
    <%= f.text_field :name, class: "form-control" %>
    <%#= f.hidden_field :user_id, value: user.id %>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="material-icons"><%= t "Loại thú" %></i>
      </span>
    </div>
    <%= f.select :type_pet, type_choice, selected: pet.type_pet, class: "form-control" %>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="material-icons"><%= t "Giới tính" %></i>
      </span>
    </div>
    <%= f.select :gender, gender_choice, selected: pet.gender, class: "form-control" %>
  </div>
  <div class="footer text-center">
    <%= f.submit "Lưu", class: "btn btn-primary btn-wd btn-lg" %>
  </div>
<% end %>
