<%= form_for [user, pet], class: "form" do |f| %>
  <div class="input-group">
          <label>Avatar:</label>
    <img id='img-upload'/>
    <div class="input-group col-sm-10 pull-left">
        <span class="input-group-btn">
            <span class="btn btn-default btn-file">
                Browse… <%= f.file_field :image, id: "imgInp" %>
            </span>
        </span>
        <input type="text" class="form-control" readonly>
    </div>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <label>Tên:</label><span class="required">*</span>
      </span>
    </div>
    <%= f.text_field :name, class: "form-control", required: true %>
    <%#= f.hidden_field :user_id, value: user.id %>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <label>Loại thú: </label>
      </span>
    </div>
    <%= f.select :type_pet, type_choice, {selected: pet.type_pet}, class: "form-control" %>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <label>Giới tính:</label>
      </span>
    </div>
    <%= f.select :gender, gender_choice, {selected: pet.gender}, class: "form-control" %>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <label>Ngày sinh:</label><span class="required">*</span>
      </span>
    </div>
   <%= f.text_field :dob, class: "form-control datetimepicker", placeholder: "Ngày sinh", required: true %>
  </div>
  <div class="footer text-center" style="margin-top: 30px">
    <%= f.submit "Lưu", class: "btn btn-primary btn-wd btn-lg", style: "margin-top: 30px" %>
  </div>
<% end %>
