<div class="main-content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title">
                            <span>My Pet</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-header text-center">
                            <h3 class="header-title">My Pet Lists</h3>
							<div class="line"></div>
                            <%= link_to 'Thêm mới pet', new_user_pet_path(current_user), class: "pull-right btn btn-primary" %>
                        </div>
                    </div>
                </div>
                <div class="row doctors-list">
                <% @pets.each do |pet| %>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="doctor-list">
                            <div class="doctor-inner">
                                <%= link_to image_tag(pet.image_url, width: 400), user_pet_path(@user, pet)  %>
                                <div class="doctor-details">
                                    <div class="doctor-info">
                                        <h4 class="doctor-name"><a href="doctor-details.html"><%= pet.name %></a></h4>
                                        <p><span class="depart"><%= pet.type_pet %></span>
                                        - <span class="depart"><%= pet.gender %></span></p>
                                    </div>
                                    <div class="view-profie">
                                        <a href="<%= user_pet_path(current_user, pet) %>">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
