<div class="header">
  <div class="header-left">
    <a href="index.html" class="logo">
    </a>
  </div>
  <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
  <ul class="nav user-menu float-right">
    <li class="nav-item dropdown d-none d-sm-block">
      <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i
        class="fa fa-comment-o"></i>
        <span class="badge badge-pill bg-danger float-right">
          <% @conversations = Conversation.where("recipient_id = ? or sender_id = ?", current_user.id, current_user.id) %>
          <% count = 0 %>
          <% @conversations.each do |c| %>

                <% count = c.messages.where("user_id != ?", current_user.id).where(read: false).count + count  %>
              <% end %>
          <%= count %>
        </span>
      </a>
    </li>
    <li class="nav-item dropdown has-arrow">
      <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <%= image_tag current_user.avatar_url, class: "rounded-circle", size: "24" %>
                          <span class="status online"></span>
                        </span>
        <span><%= current_user.name %></span>
      </a>
      <div class="dropdown-menu">
        <%= link_to user_path(current_user), class: "dropdown-item", data: {turbolinks: false} do %>
          Hồ sơ
        <% end %>
        <%= link_to "Đăng xuất", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
  <div class="dropdown mobile-user-menu float-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
      class="fa fa-ellipsis-v"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="profile.html">My Profile</a>
      <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
      <a class="dropdown-item" href="settings.html">Settings</a>
      <%= link_to "Đăng xuất", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>
</div>
<div class="notification-box">
  <div class="msg-sidebar notifications msg-noti">
    <div class="topnav-dropdown-header">
      <span>Messages</span>
    </div>

    <ul id="conversations-list" class="panel-default">
      <% @conversations.each do |conversation| %>
        <% render 'conversations/conversation1', conversation: conversation, user: current_user %>
      <% end %>
      <%#= render @conversations, user: current_user %>
    </ul>
    <div class="drop-scroll msg-list-scroll">
      <ul class="list-box">
      <% @conversations = Conversation.newest_messege current_user.id %>
        <% @conversations.each do |c| %>
          <% unless c.recipient_id == current_user.id %>
            <li>
              <%= link_to conversations_path(user_id: User.find_by_id(c.recipient_id).id), remote: true, method: :post do %>
                <div class="list-item">
                  <div class="list-left">
                    <span class="avatar">
                      <% user = User.find_by_id(c.recipient_id) %>
                              <%= image_tag user.avatar_url, size: 50, style: "border-radius: 50%" %>
                    </span>
                  </div>
                  <div class="list-body">
                    <span class="message-author"><%= User.find_by_id(c.recipient_id).name %> </span>
                    <% if !c.unread_message_count(current_user).zero? %>
                        <span class="badge badge-pill bg-danger float-right">
                          <%= c.unread_message_count(current_user) %></span>
                    <% end %>
                    <span class="message-time"><%= c.messages.last.created_at.strftime("%d/%m/%Y %H:%M") %></span>
                    <div class="clearfix"></div>
                    <span class="message-content"><%= c.messages.last.body %></span>
                  </div>
                </div>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to conversations_path(user_id: User.find_by_id(c.sender_id).id), remote: true, method: :post do %>
                <div class="list-item">
                  <div class="list-left">
                    <span class="avatar"><% user = User.find_by_id(c.sender_id) %>
                              <%= image_tag user.avatar_url, size: 50, style: "border-radius: 50%" %></span>
                  </div>
                  <div class="list-body">
                    <span class="message-author"><%= User.find_by_id(c.sender_id).name %> </span>
                    <% if !c.unread_message_count(current_user).zero? %>
                        <span class="badge badge-pill bg-danger float-right">
                          <%= c.unread_message_count(current_user) %></span>
                    <% end %>
                    <span class="message-time"><%= c.messages.last.created_at.strftime("%d/%m/%Y %H:%M") %></span>
                    <div class="clearfix"></div>
                    <span class="message-content"><%= c.messages.last.body %></span>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
