<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= t "layouts.header.account" %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><%= link_to t("layouts.header.profile"), current_user %></li>
            <li>
              <%= link_to t("layouts.header.settings"), "#" %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out pull-right"></i><%= t "layouts.header.log_out" %></a>
              <% end %>
            </li>
          </ul>
        </li>
        <li>
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <%= t "languages.language" %>
              <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <li><%= link_to t("languages.en"), url_for(locale:"en"), class: "dropdown-item" %></li>
              <li><%= link_to t("languages.vi"), url_for(locale:"vi"), class: "dropdown-item" %></li>
            </ul>
          </li>
        <li role="presentation" class="dropdown">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
