<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="<%= admin_users_path %>" class="site_title"><i class="fa fa-paw"></i>
        <span><%= t "app.name" %></span></a>
    </div>
    <div class="clearfix"></div>
    <div class="profile clearfix">
      <div class="profile_pic">
        <%= image_tag current_user.gravatar_url, class: "img-circle profile_img" %>
      </div>
      <div class="profile_info">
        <span><%= t "admins.welcome" %></span>
        <h2><%= link_to current_user.name, current_user %></h2>
      </div>
    </div>
    <br />
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li><a><i class="fa fa-bars"></i> <%= t "admins.menu" %> <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><%= link_to t("admins.users"), admin_users_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
