<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :page_title %></title>
    <%= render "layouts/admin/default" %>
  </head>
  <body>
    <div class="main-wrapper">
        <%= render "layouts/admin/header" %>
        <%= render "layouts/admin/menu" %>
        <%= yield %>
    </div>
  </body>
</html>
