<div class="modal-body">
  <%= form_for booking,html: {class: "form-horizontal form-event"} do |f| %>
    <div class="form-group">
      <div class="col-sm-10">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :event_id, value: booking.event_id %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 label-event">
        <%= "Thời gian bắt đầu khám" %>:
      </label>
      <div class="col-sm-10">
        <%= f.text_field :start_time, class: "form-control start-date" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 label-event">
        <%= "Thời gian kết thúc khám" %>:
      </label>
      <div class="col-sm-10">
        <%= f.text_field :end_time, class: "form-control end-date" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 box-event">
        <%= f.submit t("submit"), class: "btn btn-primary pull-right" %>
      </div>
    </div>
  <% end %>
</div>
