<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">MR</h4>
                    </div>
                </div>
                <div class="row filter-row">
                  <%= @pet.name %>
                  <%= @pet.user.name %>
                  <%= @pet.type_pet %>
                  <%= @pet.gender %>
                </div>
                <div class="row">
                    <div class="col-md-12">
						<div class="table-responsive">
						</div>
                    </div>
                </div>
                <div class="row">
                        Result: <%= @medical_record.result %> </br>
                        Description: <%= @medical_record.description %></br>
                        <% @medical_record.medical_records_services.each do |ms| %>
                          Service: <%= ms.service.name %>
                          ---- <%= ms.service.price %>VND</br>
                        <% end %>
                        <%= @medical_record.sub_total %>
                </div>
                <div class="col-sm-2 pull-right">
          <%#= link_to "create Bill", new_secretary_user_pet_medical_record_bill_path(@pet.user, @pet.id, mr.id), class: "btn btn-primary" %>
            <%= link_to "create bill", secretary_user_pet_medical_record_path(format: "pdf") %>
        </div>
            </div>

        </div>

