<div class="main-content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title">
                            <span>Thông tin người dùng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 doctor-sidebar">
                        <div class="doctor-list doctor-view">
                            <div class="doctor-inner">
                                <%= image_tag @user.avatar_url, class: "img-responsive", size: 750 %>
                                <div class="doctor-details">
                                    <div class="doctor-info">
                                        <h2><%= @user.name %></h2>
										<tr>
											<td>
												<a href="<%= edit_user_registration_path(current_user) %>" class="btn btn-danger">Chỉnh sửa thông tin  <span class="fa fa-edit"></span></a>
											</td>
											<% unless current_user == @user %>
											<td>
                          <%= link_to conversations_path(user_id: @user), class: "btn btn-danger", remote: true, method: :post do %>
													Tin nhắn <span class="fa fa-envelope"></span>
													<% end %>
											</td>
											<% end %>
										</tr>
										<br><br>
										<table class="table">
											<tr>
												<td style="text-align: right; width: 111px"><h5>Số điện thoại :</h5></td>
												<td style="text-align: left"><h5><%= @user.phone %></h5></td>
											</tr>
											<tr>
												<td style="text-align: right; width: 111px"><h5>Email :</h5></td>
												<td style="text-align: left"><h5><%= @user.email %></h5></td>
											</tr>
											<tr>
												<td style="text-align: right; width: 111px"><h5>Ngày sinh :</h5></td>
												<td style="text-align: left"><h5><%= @user.dob %></h5></td>
											</tr>
											<tr>
												<td style="text-align: right; width: 111px"><h5>Địa chỉ :</h5></td>
												<td style="text-align: left"><h5><%= @user.address %></h5></td>
											</tr>
										</table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
										<% if @user.member?%>
                        <div class="experience-widget col-sm-12">
                            <h3 class="sub-title" style="float: left">Danh sách thú cưng</h3>
                            <% if current_user == @user %>
                            <%= link_to " Thêm mới pet", new_user_pet_path(current_user), class: "btn btn-primary fa fa-plus pull-right" %><% end %></div><% end %>
                    <% @user.pets.each do |pet| %>
                      <div class="col-sm-3">
                        <center>
						  <%= link_to image_tag(pet.image_url, size: 170, style: "border-radius: 50%"), user_pet_path(@user, pet)  %>
                        </center>
                        <h5><center><%= pet.name %></center></h5>
                      </div>
                    <% end %>
					<div class="col-sm-12">
                    <hr>
					<h3>Bài viết</h3>
						<% if @user == current_user %>
                        <%= render "shared/blog_form" %>
                        <% end %>
						</br></br></br>
                        <%= render "shared/feed" %>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
