<% provide :title, @title %>
<div class="main main-raised">
  <div class="section section-basic custom-background">
    <div class="container">
      <div class="row">
        <aside class="col-md-12">
          <section class="user_info">
            <%= image_tag @user.gravatar_url, alt: @user.name, class: "avata col-sm-4" %>
            <h1 class="col-sm-8">
              <%= @user.name %>
            </h1>
            <section class="stats col-sm-3">
              <%= render "shared/stats" %>
              <span><%= link_to t("users.view_profile"), @user %></span>
            </section>
            <section class="col-sm-7 follow-form">
              <%= render "follow_form", inactive_relationships: @inactive_relationships, active_relationships: @active_relationships if user_signed_in? %>
            </section>
          </section>
        </aside>
        <div class="col-md-12 body-format">
          <h3><%= @title %></h3>
          <div class="follow-format">
            <% if @users.any? %>
              <table class="table">
                <%= render @users %>
              </table>
            <% end %>
            <div class="col-sm-6 offset-sm-3">
              <%= paginate @users, theme: "twitter-bootstrap-3" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
