<% provide :page_title, t(".title") %>
<div class="main main-raised">
  <div class="section section-basic custom-background">
    <div class="container">
      <div class="flat-projects">
        <% if user_signed_in? %>
          <div class="row">
            <aside class="col-md-12">
          <section class="user_info">
            <%= image_tag @user.gravatar_url, alt: @user.name, class: "avata col-sm-4" %>
            <h1 class="col-sm-8 user-name">
              <%= @user.name %>
            </h1>
            <section class="stats col-sm-9">
              <%= render "shared/stats" %>
            </section>
          </section>
          <section class="col-sm-2">
            <%= render "follow_form", inactive_relationships: @inactive_relationships, active_relationships: @active_relationships if user_signed_in? %>
          </section>
        </aside>
            <% if current_user == @user %>
              <section class="blog_form col-md-8">
                <%= render "shared/blog_form" %>
              </section>
            <% end %>
            <div class="">
              <h3>Blog Feed</h3>
              <%= render "shared/feed" %>
            </div>
          </div>
        <% else %>
          <div class="center jumbotron">
            <h1>Welcome to the Sample App</h1>
            <h2>
              This is the home page for the
              <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
              sample application.
            </h2>
            <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
