<div class="main main-raised">
  <div class="section section-basic custom-background">
    <div class="container">
      <div class="flat-projects">
        <% if user_signed_in? %>
          <div class="row">
            <aside class="col-md-12">
          <section class="user_info">
            <%= image_tag @user.gravatar_url, alt: @user.name, class: "col-sm-2" %>
            <h3 class="col-sm-8 user-name">
            <i class="fa fa-user"></i> Thông tin cơ bản:
            </h3>
            <%= link_to 'Chỉnh sửa profile', edit_user_registration_path, class: "col-sm-2 btn btn-primary" %>
            <section class="stats col-sm-9">
              <p>Họ và tên: <%= @user.name %></p>
              <p>Email: <%= @user.email %></p>
              <p>Sinh nhật: <%= @user.dob %></p>
              <p>Số điện thoại: <%= @user.phone %></p>
              <p>Địa chỉ: <%= @user.address %></p>
            </section>
            <section class="pull-left">
              <%= render "shared/stats" %>
            </section>
          </section>
          <section class="col-sm-2">
            <%= render "follow_form", inactive_relationships: @inactive_relationships, active_relationships: @active_relationships if user_signed_in? %>
          </section>
        </aside>
        <hr>
        <% if current_user == @user %>
              <section class="blog_form col-md-8">
              <h3 class="offset-sm-4"><i class="fa fa-blog"></i> Bài viết của tôi</h3>
                <%= render "shared/blog_form" %>
              </section>
            <% end %>
            <div class="">
              <%= render "shared/feed" %>
            </div>
          </div>
        <% else %>
          <div class="center jumbotron">
            <h1>Welcome to the Sample App</h1>
            <h2>
              This is the home page for the
              <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
              sample application.
            </h2>
            <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
