<div class="col-sm-12 col-sm-offset-1 about-doctor">
<%= form_for @blog do |f| %>
  <%= render "shared/error_messages", object: f.object %>
      <%= f.text_field :title, placeholder: "Tiêu đề", class: "form-control col-sm-12" %>
      <%= f.text_area :content, placeholder: "Bạn có vấn đề gì?", class: "form-control col-sm-12", rows: 5 %>
    <img id='img-upload'/>
    <div class="custom-file">
      <%= f.file_field :image, id: "imgInp", class: "custom-file-input" %>
    </div>
    </br>
      <%= f.submit "Gửi", class: "btn btn-success btn-block" %>
<% end %>
</div>
