<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="<%= current_class? nurse_dashboard_path %>">
                            <a href="<%= nurse_dashboard_path %>"><i class="fa fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li class="<%= current_class? nurse_medical_records_path %>">
                            <a href="<%= nurse_medical_records_path %>"><i class="fa fa-hospital-o"></i>Bệnh án</a>
                        </li>
                       <li class="<%= current_class? nurse_users_path %>">
                            <a href="<%= nurse_users_path %>"><i class="fa fa-user-md"></i>Người dùng</a>
                        </li>
                        <li class="<%= current_class? root_path %>">
                            <%= link_to root_path, data: { turbolinks: false } do %>
                                <i class="fa fa-home"></i>Trang chủ
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
