<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :page_title %></title>
    <%= render "layouts/nurse/default" %>
  </head>
  <body>
    <div class="main-wrapper">
        <%= render "layouts/nurse/header" %>
        <%= render "layouts/nurse/menu" %>
        <%= yield %>
    </div>
    <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
      </script>
    <% end %>
  </body>
</html>
