<% @conversations = Conversation.newest_messege current_user.id %>
<div class="page-wrapper">
  <div class="notification-box">
    <div class="msg-sidebar notifications msg-noti">
      <div class="topnav-dropdown-header">
        <span>Messages</span>
      </div>

      <ul id="conversations-list" class="panel-default">
        <% @conversations.each do |conversation| %>
        <% render 'conversations/conversation1', conversation: conversation, user: current_user %>
        <% end %>
        <%#= render @conversations, user: current_user %>
      </ul>
      <div class="drop-scroll msg-list-scroll">
        <ul class="list-box">
          <% @conversations.each do |c| %>
            <% unless c.recipient_id == current_user.id %>
              <li>
                <%= link_to conversations_path(user_id: User.find_by_id(c.recipient_id).id), remote: true, method: :post do %>
                  <div class="list-item">
                    <div class="list-left">
                      <span class="avatar">R</span>
                    </div>
                    <div class="list-body">
                      <span class="message-author"><%= User.find_by_id(c.recipient_id).name %> </span>
                      <% if !c.unread_message_count(current_user).zero? %>
                        <span class="badge badge-pill bg-danger float-right">
                          <%= c.unread_message_count(current_user) %></span>
                      <% end %>
                      <span class="message-time"><%= c.messages.last.created_at.strftime("%d/%m/%Y %H:%M") %></span>
                      <div class="clearfix"></div>
                      <span class="message-content"><%= c.messages.last.body %></span>
                    </div>
                  </div>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to conversations_path(user_id: User.find_by_id(c.sender_id).id), remote: true, method: :post do %>
                  <div class="list-item">
                    <div class="list-left">
                      <span class="avatar">R</span>
                    </div>
                    <div class="list-body">
                      <span class="message-author"><%= User.find_by_id(c.sender_id).name %> </span>
                      <% if !c.unread_message_count(current_user).zero? %>
                        <span class="badge badge-pill bg-danger float-right">
                          <%= c.unread_message_count(current_user) %></span>
                      <% end %>
                      <span class="message-time"><%= c.messages.last.created_at.strftime("%d/%m/%Y %H:%M") %></span>
                      <div class="clearfix"></div>
                      <span class="message-content"><%= c.messages.last.body %></span>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
