<tr>
										<td>
                      <%= link_to director_user_path(user) do %>
                      <%= image_tag(user.avatar_url, size: 28, class: "rounded-circle m-r-5") %>
                      <%= user.name %>
                      <% end %>
                    </td>
										<td><%= user.address %></td>
										<td><%= user.email %></td>

									</tr>
  <%#= link_to t("comments.delete"), admin_user_path(user),method: :delete,
    data: {confirm: t("comments.you_sure")}, class: "btn btn-danger" %>
