<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="<%= current_class? doctor_dashboard_path %>">
                            <a href="<%= doctor_dashboard_path %>"><i class="fa fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li class="<%= current_class? doctor_deseases_path %>">
                            <a href="<%= doctor_deseases_path %>"><i class="fa fa-stethoscope"></i>Chẩn đoán</a>
                        </li>
                        <li class="<%= current_class? doctor_users_path %>">
                            <a href="<%= doctor_users_path %>"><i class="fa fa-user-md"></i>Người dùng</a>
                        </li>
                        <li class="<%= current_class? root_path %>">
                            <%= link_to root_path, data: { turbolinks: true } do %>
                                <i class="fa fa-home"></i>Trang chủ
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
