        <%= form_for [:doctor, user, pet, medical_record], class: "form" do |f| %>
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= image_tag pet.image_url, size: 170, style: "border-radius: 50%" %>
                  </div>
                </div>
                <%= f.hidden_field :pet_id, value: pet.id %>
                <%= f.hidden_field :doctor_id, value: current_user.id %>
                <div class="col-sm-6">
                  <div class="form-group">
                    <h2><%= pet.name %></h2>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label><i>Người khám :</i></label>
                      </div>
                      <div class="form-group">
                        <label><i>Người nuôi :</i></label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label><%= current_user.name %></label>
                      </div>
                      <div class="form-group">
                        <label><%= user.name %> </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row">

              </div>
              <br>
              <h3><i>Thông tin khám bệnh</i></h3>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Triệu chứng</label>
                    <%= f.text_area :result, class: "form-control" %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Chuẩn đoán</label>
                    <%= f.text_area :description, class: "form-control" %>
                  </div>
                </div>
              </div>
              <h3><i>Điều trị</i></h3>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <table class="table table-bordered table-condensed">
                      <thead>
                        <tr>
                          <th scope="col" width="70px">STT</th>
                          <th scope="col">Loại dịch vụ/thuốc</th>
                          <th scope="col" width="100px">Đơn vị</th>
                          <th scope="col" width="100px">Số lượng</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <h4>1</h4>
                          </td>
                          <td><input type="text" class="form-control" /></td>
                          <td><input type="text" class="form-control" /></td>
                          <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                          <td>
                            <h4>2</h4>
                          </td>
                          <td><input type="text" class="form-control" /></td>
                          <td><input type="text" class="form-control" /></td>
                          <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                          <td>
                            <h4>3</h4>
                          </td>
                          <td><input type="text" class="form-control" /></td>
                          <td><input type="text" class="form-control" /></td>
                          <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                          <td>
                            <h4>4</h4>
                          </td>
                          <td><input type="text" class="form-control" /></td>
                          <td><input type="text" class="form-control" /></td>
                          <td><input type="text" class="form-control" /></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 text-center m-t-20">
                <%= f.submit "Save", class: "btn btn-primary submit-btn" %>
              </div>
        <% end %>
