 <%= stylesheet_link_tag "mdb" %>
        <%= form_for [:doctor, user, pet, medical_record], class: "form" do |f| %>
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= image_tag pet.image_url, size: 170, style: "border-radius: 50%" %>
                  </div>
                </div>
                <%= f.hidden_field :pet_id, value: pet.id %>
                <%= f.hidden_field :doctor_id, value: current_user.id %>
                <div class="col-sm-6">
                  <div class="form-group">
                    <h2><%= pet.name %></h2>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label><i>Người khám :</i></label>
                      </div>
                      <div class="form-group">
                        <label><i>Người nuôi :</i></label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label><%= current_user.name %></label>
                      </div>
                      <div class="form-group">
                        <label><%= user.name %> </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row">

              </div>
              <br>
              <h3><i>Thông tin khám bệnh</i></h3>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Triệu chứng</label>
                    <%= f.text_area :result, class: "form-control" %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Chuẩn đoán</label>
                    <%= f.text_area :description, class: "form-control" %>
                  </div>
                </div>
              </div>
              <h3><i>Điều trị</i></h3>


<div class="list-level">

        <%= f.fields_for :medical_records_services do |ff| %>
          <div class="div-level">

            <div class="row group-input">
              <div class="col-sm-5 col-level">
                <div class="form-group">
                  <label class="control-label label-level">
                    Loại dịch vụ/thuốc
                    <span class="required">*</span>
                  </label>
                  <div class="col-sm-12">
                    <%= ff.select :service_id, Service.pluck(:name, :id), {}, class: "mdb-select md-form",
                      required: true, searchable: "Tìm kiếm ..." %>
                  </div>
                </div>
              </div>

              <div class="col-sm-5 col-level">
                <div class="form-group">
                  <label class="control-label label-level">
                    Số lượng
                    <span class="required">*</span>
                  </label>
                  <div class="col-sm-12">
                    <%= ff.number_field :quantity, class: "form-control", required: true %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div id="div-level-add"></div>
      </div>

<div class="col-sm-2 div-button-add">
          <%= link_to "#", remote: true, class: "btn btn-primary", id: "create-level" do %>
<i class="fa fa-plus"></i>
          <% end %>
        </div>





              <div class="col-sm-12 text-center m-t-20">
                <%= f.submit "Save", class: "btn btn-primary submit-btn" %>
              </div>
        <% end %>
         <script>
    // Material Select Initialization
    $(document).ready(function () {
      $('#medical_record_medical_records_services_attributes_0_service_id').materialSelect();
    });
  </script>
        <%# <%= link_to "create bill", secretary_user_pet_medical_record_path(format: "pdf") %>

<%= javascript_include_tag "add_remote_level", "mdb.min" %>

