<div class="page-wrapper">
            <div class="content">

                <div class="row doctor-grid">
                    <div class="container">
                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="experience-widget">
                                    <h2>Chi Tiết Bệnh Án</h2>
                                    <br>
                                    <div>
                                        <h3>Bác Sĩ Chính: <a href="#" style="color: #66a3ff">Dr.<%= @doctor.name %></a></h3>
                                        <% unless @medical_record.nurse_id.blank? %>
                                        <h3>Y tá: <a href="#" style="color: #66a3ff"><%= User.find_by_id(@medical_record.nurse_id).name %></a></h3>
                                        <% end %>
                                    </div>
                                    <div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h4>Triệu chứng: <%= @medical_record.result %></h4>
                                                <h4>Chuẩn đoán: <%= @medical_record.description %></h4>
                                                <h4>Trạng thái: <%= t @medical_record.status %></h4>
                                            </div>
                                            <div class="col-sm-4 pull-right">
                                                <%= link_to "Chỉnh sửa", edit_nurse_user_pet_medical_record_path(@user.id, @pet.id, @medical_record.id), class: "btn btn-primary account-btn", style: "color: white"%>
                                            </div>
                                        </div>
                                        <hr />
                                        <h3>Hướng điều trị</h3>
                                        <table class="table">
                                            <thead style="background-color: #66a3ff">
                                                <tr style="color: white">
                                                    <th scope="col">STT</th>
                                                    <th scope="col">Tên thuốc</th>
                                                    <th scope="col">Số lượng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <% @medical_record.medical_records_services.each.with_index(1) do |sv, i| %>
                                                <tr>
                                                    <th scope="row"><%= i %></th>
                                                    <td><%= sv.service.name %></td>
                                                    <td><%= sv.quantity %></td>
                                                </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

