

<div class="main-content">
        <!-- Page Header -->

          <ul id="conversations-list">
            <% if @conversations.present? %>
              <%= render 'conversations/conversation', conversation: @conversations, user: current_user %>
            <% end %>
          </ul>
        <div class="content" style="background: #f6f6f6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <!-- Blog Post -->
                          <% @items.each do |item| %>
  <h2><%= item.name %></h2>
  <h4>Loài:</h4><p style="font-size: 16px"> <%= item.pet_type %></p>
  <h4>Triệu chứng:</h4><p style="font-size: 16px">  <%= item.symptom %></p>
  <h4>Mô tả chi tiết:</h4><p style="font-size: 16px">  <%= item.description %></p>
  <h4>Nguyên nhân:</h4><p style="font-size: 16px">  <%= item.reason %></p>
  <h4>Cách chữa trị:</h4><p style="font-size: 16px">  <%= item.treatment %></p>
<div class="line"></div>
<% end %>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary list-user">
              <div class="panel-heading">
                <h4 class="panel-title">Danh sách bác sĩ</h4>
              </div>
              <div class="panel-body">
                <ul class="overflow">
                  <% @users.each do |user| %>
                    <% if user.online? %>


                    <li style="color: green; margin-left: 20px"><%= link_to user.name, conversations_path(user_id: user), remote: true, method: :post %></li>
                    <% else %>
                    <li style="list-style-type:none; margin-left: 20px"><%= link_to user.name, conversations_path(user_id: user), remote: true, method: :post %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
