

<div class="main-content">
        <!-- Page Header -->

          <ul id="conversations-list">
            <% @conversations.each do |conversation| %>
              <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
            <% end %>
          </ul>
        <div class="content" style="background: #f6f6f6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <!-- Blog Post -->
                          <% @items.each do |item| %>
  Name: <%= item.name %></br>
  Pet Type: <%= item.pet_type %></br>
  Symptom: <%= item.symptom %></br>
  Reason: <%= item.reason %></br>
  Treatment: <%= item.treatment %></br>
  Description: <%= item.description %></br>
<div class="line"></div>
<% end %>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary list-user">
              <div class="panel-heading">
                <h3 class="panel-title">User list</h3>
              </div>
              <div class="panel-body">
                <ul class="overflow">
                  <% @users.each do |user| %>
                    <li style="list-style-type: none;"><%= link_to user.name, conversations_path(user_id: user), remote: true, method: :post %></li>

                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
