<div class="modal fade" id="edit_booking">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cuộc hẹn</h4>
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="form-horizontal form-event">
          <div class="form-group">
              <label class="col-sm-6 label-event">
                <%= "Người hẹn" %>:
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="" readonly value="<%= @booking.user.name %>">
                <%#= f.text_field :start_time, class: "form-control start-date", readonly: true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 label-event">
                <%= "Thú" %>:
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="" readonly value="<%= @booking.pet.name %>">
                <%#= f.text_field :start_time, class: "form-control start-date", readonly: true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 label-event">
                <%= "Ghi chú" %>:
              </label>
              <div class="col-sm-10">
                <input type="text-area" class="form-control" id="" readonly value="<%= @booking.note %>">
                <%#= f.text_field :start_time, class: "form-control start-date", readonly: true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 label-event">
                <%= "Thời gian bắt đầu khám" %>:
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control start-date" id="booking_start_time" readonly>
                <%#= f.text_field :start_time, class: "form-control start-date", readonly: true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 label-event">
                <%= "Thời gian kết thúc khám" %>:
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control end-date" id="booking_end_time" readonly>
                <%#= f.text_field :end_time, class: "form-control end-date", readonly: true %>
              </div>
            </div>
        </div>
        </div>
        <%= link_to "Thông tin", nurse_user_pet_path(@booking.user_id, @booking.pet_id), class: "btn btn-primary offset-sm-4", style: "text-align: center" %>
      </div>
    </div>
  </div>
</div>
<script>
    $('#booking_start_time').val("<%= @booking.start_time.strftime('%d/%m/%Y %H:%M') %>");
    $('#booking_end_time').val("<%= @booking.end_time.strftime('%d/%m/%Y %H:%M') %>");
</script>
