<div class="row" style="margin-top: 71px">
                    <div class="col-md-8 offset-md-2">
                        <%= form_for [:admin, @user], class: "form" do |f| %>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Name <span class="text-danger">*</span></label>
                                        <%= f.text_field :name, class: "form-control" %>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Username <span class="text-danger">*</span></label>
                                        <%= f.text_field :username, class: "form-control" %>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <%= f.email_field :email, class: "form-control" %>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Role</label>
                                        <%= f.select :role, role_choice, {selected: @user.role}, class: "form-control" %>
                                    </div>
                                </div>
                                <%= f.hidden_field :password, value: "123456" %>

                                <%= f.hidden_field :password_confirmation, value: "123456" %>
                            </div>

                            <div class="m-t-20 text-center">
                                <%= f.submit "Thêm mới người dùng", class: "btn btn-primary submit-btn" %>
                            </div>
                        <% end %>
                    </div>
                </div>
