<%= form_for [:admin, @user], class: "form" do |f| %>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="material-icons"><%= t ".name" %></i>
      </span>
    </div>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="material-icons"><%= t ".user_name" %></i>
      </span>
    </div>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="material-icons"><%= t ".email" %></i>
      </span>
    </div>
    <%= f.email_field :email, class: "form-control" %>
  </div>
<%= f.select :role, role_choice, selected: @user.role, class: "form-control" %>
    <%= f.hidden_field :password, value: "123456" %>

    <%= f.hidden_field :password_confirmation, value: "123456" %>

  <div class="footer text-center">
    <%= f.submit t(".sign_up"), class: "btn btn-primary btn-wd btn-lg" %>
  </div>
<% end %>
