<!-- Header -->
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 pull-left">
                        <div class="logo">
                            <a href="<%= root_path %>">
                                <%= image_tag 'logo.png', size: 56 %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-11 pull-left">
                        <div class="navbar-collapse collapse" id="navbar">
                            <ul class="nav navbar-nav main-nav pull-right navbar-right">
                                <li class="<%= current_class? root_path %>"><a href="<%= root_path %>"><%= "Trang chủ" %></a></li>


                                <li class="<%= current_class? doctors_path %>"><a href="<%= doctors_path %>">Bác sĩ</a></li>
                                <li class="<%= current_class? deseases_path %>"><a href="<%= deseases_path %>">Chẩn đoán</a></li>
                                <li class="<%= current_class? blogs_path %>"><a href="<%= blogs_path %>">Bài viết</a></li>
                                <% if user_signed_in? %>
                                <li class="<%= current_class? user_pets_path(current_user) %>"><a href="<%= user_pets_path(current_user) %>">Thú cưng</a></li>
                                <% end %>



                                <li><a class="btn btn-primary appoint-btn appointment" href="<%= bookings_path %>">Đặt lịch khám</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle settings-icon appointment" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                                    <ul class="dropdown-menu">
                                    <% if user_signed_in? && current_user.admin? %>
                    <li><%= link_to "Quản lý", admin_dashboard_path, data:{turbolink: false} %></li>
                    <% end %>
                    <% if user_signed_in? && current_user.doctor? %>
                    <li><%= link_to "Quản lý", doctor_dashboard_path, class: "dropdown-item", data:{turbolink: false} %></li>
                    <% end %>
                    <% if user_signed_in? && current_user.secretary? %>
                    <li><%= link_to "Quản lý", (secretary_dashboard_path if current_user.secretary?), class: "dropdown-item", data:{turbolink: false} %></li>
                    <% end %>
                    <% if user_signed_in? && current_user.director? %>
                    <li><%= link_to "Quản lý", (director_dashboard_path if current_user.director?), class: "dropdown-item", data:{turbolink: false} %></li>
                    <% end %>
                    <% if user_signed_in? && current_user.nurse? %>
                    <li><%= link_to "Quản lý", (nurse_dashboard_path if current_user.nurse?), class: "dropdown-item", data:{turbolink: false} %></li>
                    <% end %>

                                        <% if user_signed_in? %>
                                            <li><%= link_to "Hồ sơ", current_user, class: "dropdown-item" %></li>
                                            <li><%= link_to "Cài đặt", edit_user_registration_path, class: "dropdown-item" %></li>
                                            <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                                        <% else%>
                                            <li><%= link_to "Đăng nhập", new_user_session_path, class: "nav-link" %></li>
                                            <li><%= link_to "Đăng ký", new_user_registration_path, class: "nav-link" %></li>
                                        <% end %>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Mobile Header -->
    <header class="mobile-header">
        <div class="panel-control-left"><a class="toggle-menu" href="#side_menu"><i class="fa fa-bars"></i></a></div>
        <div class="page_title">
            <a href="<%= root_path %>">
                                <%= image_tag 'logo.png', size: 56 %>
                            </a>
        </div>
    </header>

    <!-- Mobile Sidebar -->
    <div class="sidebar sidebar-menu" id="side_menu">
        <div class="sidebar-inner slimscroll">
            <a id="close_menu" href="#"><i class="fa fa-close"></i></a>
            <ul class="mobile-menu-wrapper" style="display: block;">
                <li class="active">
                    <div class="mobile-menu-item clearfix">
                        <a href="index.html">Home</a>
                    </div>
                </li>
                <li>
                    <div class="mobile-menu-item clearfix">
                        <a href="about-us.html">About Us</a>
                    </div>
                </li>
                <li>
                    <div class="mobile-menu-item clearfix">
                        <a href="departments.html">Departments</a>
                    </div>
                </li>
                <li>
                    <div class="mobile-menu-item clearfix">
                        <a href="services.html">Services</a>
                    </div>
                </li>
                <li>
                    <div class="mobile-menu-item clearfix">
                        <a href="doctors.html">Doctors</a>
                    </div>
                </li>
                <li>
                    <div class="mobile-menu-item clearfix">
                        <a href="">Blog <i class="fa fa-chevron-down menu-toggle"></i></a>
                    </div>
                    <ul class="mobile-submenu-wrapper" style="display: none;">
                        <li><a href="blog.html">Right Sidebar</a></li>
                        <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="blog-full-width.html">Full Width</a></li>
                        <li><a href="blog-grid.html">Blog Grid</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li>
                    <div class="mobile-menu-item clearfix">
                        <a href="contact-us.html">Contact Us</a>
                    </div>
                </li>
                <li>
                    <div class="mobile-menu-item clearfix">
                        <a href="<%= bookings_path %>">Appointment</a>
                    </div>
                </li>
                <li>
                    <div class="mobile-menu-item clearfix">
                        <a href="login.html">Login</a>
                    </div>
                </li>
                <li>
                    <div class="mobile-menu-item clearfix">
                        <a href="register.html">Register</a>
                    </div>
                </li>
                <li>
                    <div class="mobile-menu-item clearfix">
                        <a href="forgot-password.html">Forgot Password</a>
                    </div>
                </li>
                <li>
                    <div class="mobile-menu-item clearfix">
                        <a href="404.html">404</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

