<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:page_title) %></title>
    <%= render "layouts/default" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('logo.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>
  <body >
    <%= render "layouts/header" %>
    <div style="margin-top: 71px">
    <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <% unless flash.empty? %>
      <script type="text/javascript">
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
      </script>
    <% end %>
  </body>
</html>
