<div class="modal-body">
  <%= form_for [:director, event],html: {class: "form-horizontal form-event"} do |f| %>
    <div class="form-group">
      <label class="col-sm-6 control-label label-event">
        <%= "Bác sĩ" %>:
      </label>
      <div class="col-sm-10">
        <%= f.select :doctor_id, User.where(role: :doctor).pluck(:name, :id), {}, class: "form-control input-event" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label label-event">
        <%= "Y tá trực" %>:
      </label>
      <div class="col-sm-10">
        <%= f.select :nurse_id, User.where(role: :nurse).pluck(:name, :id), {}, class: "form-control input-event" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label label-event">
        <%= "Thời gian bắt đầu làm việc" %>:
      </label>
      <div class="col-sm-10">
        <%= f.text_field :start_date, class: "form-control start-date" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label label-event">
        <%= "Thời gian kết thúc làm việc" %>:
      </label>
      <div class="col-sm-10">
        <%= f.text_field :end_date, class: "form-control end-date" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 box-event">
        <%= f.submit "Lưu", class: "btn btn-primary offset-sm-6" %>
      </div>
    </div>
  <% end %>
</div>
<script>
  $('#event_start_date').datetimepicker({
      format: "DD/MM/YYYY HH:mm"
  });
  $('#event_end_date').datetimepicker({
      format: "DD/MM/YYYY HH:mm"
  });
</script>
