<div class="modal-body">
  <%= form_for [:director, event],html: {class: "form-horizontal form-event"} do |f| %>
    <div class="form-group">
      <label class="col-sm-2 control-label label-event">
        <%= t "events.doctor" %>:
      </label>
      <div class="col-sm-10">
        <%= f.select :doctor_id, User.where(role: :doctor).pluck(:name, :id), class: "form-control input-event" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label label-event">
        <%= t "start_time" %>:
      </label>
      <div class="col-sm-10">
        <%= f.text_field :start_date, class: "form-control start-date" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label label-event">
        <%= t "end_time" %>:
      </label>
      <div class="col-sm-10">
        <%= f.text_field :end_date, class: "form-control end-date" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 box-event">
        <%= f.submit t("submit"), class: "btn btn-primary pull-right" %>
      </div>
    </div>
  <% end %>
</div>
